In [1]:
import pandas as pd

In [35]:
df= pd.read_csv(r"E:\Data_Science _master\ML\Flight_prediction\notebooks\data\flight_clean_data.csv")

In [59]:
df.head()

,Airline,Source,Destination,Total_Stops,Price,journey_day,journey_month,journey_year,Dep_Time_Sin,Dep_Time_Cos,Total_Duration_Minutes,Arrival_Time_Minutes,Arrival_Time_Sin,Arrival_Time_Cos
0,1,1,1,0,3897,24,3,2019,-0.422618,0.906308,170,70,0.300706,0.953717
1,2,2,2,2,7662,1,5,2019,0.999048,0.043619,445,795,-0.321439,-0.946930
2,3,3,3,2,13882,9,6,2019,0.625923,-0.779884,1140,265,0.915311,0.402747
3,1,2,2,1,6218,12,5,2019,-0.999762,0.021815,325,1410,-0.130526,0.991445
4,1,1,1,1,13302,1,3,2019,-0.953717,-0.300706,285,1295,-0.591310,0.806445

In [36]:
X = df.drop(labels=["Price"],axis=1)

In [37]:
X.head()

,Airline,Source,Destination,Total_Stops,journey_day,journey_month,journey_year,Dep_Time_Sin,Dep_Time_Cos,Total_Duration_Minutes,Arrival_Time_Minutes,Arrival_Time_Sin,Arrival_Time_Cos
0,1,1,1,0,24,3,2019,-0.422618,0.906308,170,70,0.300706,0.953717
1,2,2,2,2,1,5,2019,0.999048,0.043619,445,795,-0.321439,-0.946930
2,3,3,3,2,9,6,2019,0.625923,-0.779884,1140,265,0.915311,0.402747
3,1,2,2,1,12,5,2019,-0.999762,0.021815,325,1410,-0.130526,0.991445
4,1,1,1,1,1,3,2019,-0.953717,-0.300706,285,1295,-0.591310,0.806445

In [38]:
y=df[["Price"]]

In [39]:
X.shape

(10462, 13)

In [40]:
y.shape

(10462, 1)

In [41]:
y.head()

   Price
0   3897
1   7662
2  13882
3   6218
4  13302

In [42]:
y.duplicated().sum()

8592

In [43]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=30)

In [45]:
X_train.head()

,Airline,Source,Destination,Total_Stops,journey_day,journey_month,journey_year,Dep_Time_Sin,Dep_Time_Cos,Total_Duration_Minutes,Arrival_Time_Minutes,Arrival_Time_Sin,Arrival_Time_Cos
7323,1,3,3,1,27,5,2019,0.923880,-0.382683,810,1260,-0.707107,0.707107
882,3,3,3,1,27,5,2019,-0.997859,0.065403,610,265,0.915311,0.402747
6043,3,3,3,2,18,5,2019,0.991445,0.130526,810,1140,-0.965926,0.258819
8807,5,3,3,1,15,6,2019,-0.258819,-0.965926,750,90,0.382683,0.923880
7972,2,2,2,1,6,5,2019,-0.793353,0.608761,1435,1225,-0.806445,0.591310

In [46]:
X_train.shape

(7323, 13)

In [47]:
X_test.shape

(3139, 13)

In [48]:
y_train.head()

      Price
7323   6526
882   12898
6043  15129
8807  13377
7972  10203

In [49]:
y_train.shape

(7323, 1)

In [64]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge,ElasticNet
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
from sklearn.ensemble import RandomForestRegressor

In [65]:
## train multiple models

models ={
    "LinearRegression":LinearRegression(),
    "Ridge":Ridge(),
    "Lasso":Lasso(),
    "ElasticNet":ElasticNet(),
    "RandomForestRegressor":RandomForestRegressor()
    
}
trained_model_list=[]
model_list=[]
r2_list=[]

import  numpy as np

def evaluate_model(true,predicted):
    
    mse=mean_squared_error(true,predicted)
    mae=mean_absolute_error(true,predicted)
    rmse=np.sqrt(mean_squared_error(true,predicted))
    r2_value=r2_score(true ,predicted)
    
    return mae, rmse, r2_value

for i in range(len(list(models))):
    
    model = list(models.values())[i]
    model.fit(X_train,y_train)
    
    
    #make prediction 
    ypred = model.predict(X_test)
    
    
    #this is  a validation or   checking the values
    
    mae,rmse,r2_value= evaluate_model(y_test,ypred)
    print(list(models.keys())[i])  
    model_list.append(list(models.keys())[i])
  
    
    print('Model Training Performance')
    print("RMSE:",rmse)
    print("MAE:",mae)
    print("R2 score", r2_value*100)
    
    print('='*35)

    print('\n')

In [66]:
trained_model_list=[]
model_list=[]
r2_list=[]

In [67]:
list(models)

['LinearRegression', 'Ridge', 'Lasso', 'ElasticNet', 'RandomForestRegressor']

In [68]:
for i in range(len(list(models))):
    model=list(models.values())[i]
    print(model)

LinearRegression()
Ridge()
Lasso()
ElasticNet()
RandomForestRegressor()

In [69]:
import  numpy as np

def evaluate_model(true,predicted):
    
    mse=mean_squared_error(true,predicted)
    mae=mean_absolute_error(true,predicted)
    rmse=np.sqrt(mean_squared_error(true,predicted))
    r2_value=r2_score(true ,predicted)
    
    return mae, rmse, r2_value

In [70]:
for i in range(len(list(models))):
    
    model = list(models.values())[i]
    model.fit(X_train,y_train)
    
    
    #make prediction 
    ypred = model.predict(X_test)
    
    
    #this is  a validation or   checking the values
    
    mae,rmse,r2_value= evaluate_model(y_test,ypred)
    print(list(models.keys())[i])  
    model_list.append(list(models.keys())[i])
  
    
    print('Model Training Performance')
    print("RMSE:",rmse)
    print("MAE:",mae)
    print("R2 score", r2_value*100)
    
    print('='*35)

    print('\n')

LinearRegression
Model Training Performance
RMSE: 3565.472697404947
MAE: 2434.1607283739545
R2 score 42.40383459106316
===================================


Ridge
Model Training Performance
RMSE: 3565.4815310642357
MAE: 2434.168697973805
R2 score 42.40354919522649
===================================


Lasso
Model Training Performance
RMSE: 3565.3862726819334
MAE: 2433.951000762576
R2 score 42.40662674387773
===================================


ElasticNet
Model Training Performance
RMSE: 3733.226688772765
MAE: 2572.3544338479483
R2 score 36.8565853601269
===================================

e:\Data_Science _master\ML\Flight_prediction\env\lib\site-packages\sklearn\base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestRegressor
Model Training Performance
RMSE: 2075.264997401637
MAE: 1194.341749354005
R2 score 80.48778997146671
===================================